@import "../../../../assets/css/style.scss";
.blog__item {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px;
    &.size {
        &-small {
            flex-direction: row-reverse;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            min-height: 100px;
            padding-top: 10px;
            // align-items: center;
            height: max-content;
            border-radius: 0;
            justify-content: space-between;
            margin-bottom: 14px;
            .blog__img {
                --num: 96px;
                // margin-left: 48px;
                width: var(--num);
                height: var(--num);
                border-radius: 8px;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .blog__tag {
                position: absolute;
                top: 10px;
                left: 8px;
                @include text(12px, $p, 18px, $green-cl, none);
            }
            .blog__para {
                max-width: 280px;
                // position: absolute;
                bottom: 0;
                left: 0;
                z-index: 4;
                // background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
                display: flex;
                flex-direction: column;
                .avatar {
                    display: none;
                }
                .blog__para-title {
                    width: 100%;
                    margin-bottom: 16px;
                    height: max-content;
                    text-decoration: none;
                    @include text(15px, $p, 23px, $black-cl, none);
                }
                .blog__para-title {
                    display: flex;
                    align-items: center;
                }
            }
        }
        &-middle {
            // flex-direction: row-reverse;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            // min-height: 100px;
            // align-items: center;
            height: max-content;
            justify-content: space-between;
            .blog__img {
                width: 100%;
                height: 180px;
                border-radius: 8px;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .blog__tag {
                margin: 24px 0 8px 0;
                @include text(12px, $p, 18px, $green-cl, none);
            }
            .blog__para {
                height: 50%;
                max-width: 320px;
                // position: absolute;
                bottom: 0;
                left: 0;
                z-index: 4;
                // background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
                display: flex;
                flex-direction: column;
                .avatar {
                    display: none;
                }
                .blog__para-title {
                    width: 100%;
                    margin-bottom: 16px;
                    height: max-content;
                    text-decoration: none;
                    @include text(15px, $p, 23px, $black-cl, none);
                }
                .blog__para-title {
                    display: flex;
                    align-items: center;
                }
            }
        }
        &-large {
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            .blog__img {
                // position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .blog__tag {
                position: absolute;
                top: 10px;
                left: 8px;
                @include text(12px, $p, 18px, $green-cl, none);
            }
            .blog__para {
                height: 50%;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 4;
                background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-bottom: 24px;
                padding-left: 24px;
                padding-right: 10%;

                .blog__para-title {
                    width: 100%;
                    height: max-content;
                    text-decoration: none;
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;
                    @include text(22px, $p, 33px, $white-cl, none);
                }
                // .blog__para-title {
                // }
            }
        }
    }
}
