@import "../../assets/css//style.scss";
.test{
    display: flex;
    justify-content: space-between;
    .span{
        display: block;
        width: max-content;
        @include text(18px,$pb,27px,$black-cl,none);
    }
}