@import "../../../../assets/css/style.scss";
.field__area {
    margin-top: 32px;
    .label {
        font-family: "PoppinsSemiBold";
        font-size: 12px;
        line-height: 1.5;
    }
    textarea {
        width: 100%;
        border-radius: 12px;
        padding: 12px 16px;
        font-size: 14px;
        font-family: "OpenSansRegular";
        border: 1px solid #d1d1d1;
        background-color: #f9f9f9;
        outline: none;
    }
}
