@import "../../assets/css/style.scss";
.homePage {
  .categoryWrap {
    width: 20%;
    @media (max-width: 764px) {
      justify-content: center;
      width: 100%;
      @include mid(true);
      flex-direction: column;
    }
    .category {
      text-decoration: underline;
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
    }
    .btn {
      display: inline-flex;
      align-items: center;
      padding: 13px 26px;
      background-color: #ffffff;
      border-radius: 12px;
      margin-top: 32px;
      a {
        font-family: "PoppinsSemiBold";
        color: black;
        text-decoration: none;
        font-size: 15px;
        margin-right: 6px;
        white-space: nowrap;
      }
    }
  }
  .cateMenu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include sm {
      flex-direction: column;
      justify-content: center;
    }
    @media (max-width: 764px) {
      justify-content: center;
    }
    .bannerWrap {
      position: relative;
      display: inline-block;

      min-width: 300px;
      height: 300px;
      width: 45%;
      margin: 10px 0;

      img {
        width: 100%;
      }
      @include xs {
        min-width: 80%;
      }
      .banner {
        top: 10%;
        left: 12%;
        position: absolute;
        .subFocus {
          font-size: 12px;
          font-family: "PoppinsSemiBold";
          color: #6a983c;
          line-height: 18px;
        }
        h3 {
          font-size: 22px;
          font-family: "PoppinsSemiBold";
          line-height: 33px;
        }
      }
      .button {
        position: absolute;
        bottom: 10%;
        left: 12%;
      }
    }
  }
  .bestFarmers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 128px;
    margin-bottom: 128px;
  }
  .bestSelling {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    margin-top: 128px;
    margin-bottom: 128px;
    @include sm {
      flex-wrap: wrap;
    }
  }
  .itemProductList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    @include xs {
      justify-content: center;
    }
    .itemProductWrap {
      border: 1px solid #d1d1d1;
      border-radius: 12px;
      width: 30%;
      margin: 10px 0;
      @include sm {
        width: 48%;
      }
      @include xs {
        width: 100%;
      }
      .itemProduct {
        margin: 16px;
        .itemImg {
          height: 180px;
          border-radius: 12px;
          background: #f9f9f9;
          margin: auto;
          margin-bottom: 16px;
          overflow: hidden;
          @include mid(true);
          &img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .productText {
          overflow: hidden;
          h4 {
            font-size: 15px;
            font-family: "PoppinsSemiBold";
            line-height: 21px;
            @include overtext(2);
          }
          p {
            font-size: 12px;
            line-height: 15px;
            font-family: $o;
            color: #575757;
            @include overtext(3);
          }
          .price {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            flex-wrap: wrap;
            h3 {
              @include overtext(3);
              margin: 5px 0;
              font-size: 18px;
              font-family: "PoppinsSemiBold";
            }
          }
        }
      }
    }
  }
  .headline {
    margin: 64px auto;

    .titleHeadline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      h3 {
        font-size: 18px;
        font-family: "PoppinsSemiBold";
      }
    }
    .itemHeadline {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 32px;
    }
  }
}
.bannerList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include sm {
    width: 100%;
  }
  @media (max-width: 764px) {
    @include mid(true);
    flex-direction: column;
  }
}
