@import "../../assets/css/style.scss";

.category {
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}
.btn {
  display: inline-flex;
  align-items: center;
  padding: 13px 26px;
  background-color: $clBtnFooter;
  border-radius: 12px;
  margin-top: 32px;
  a {
    font-family: "PoppinsSemiBold";
    color: $clTextBlack;
    text-decoration: none;
    font-size: 15px;
    margin-right: 6px;
  }
}
