// KICH THUOC MAN HINH
@media (min-width: $xxs-min) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: $xs-min) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: $sm-min) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: $md-min) {
  .container {
    max-width: $container-width;
  }
}
//CONTAINER & CONTAINER-FLUID

body {
  color: $clTextBlack;
}
.container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  @include xs {
    padding-right: 15px;
    padding-left: 15px;
  }
}
