@import "../../assets/css/style.scss";
.blog__post {
    padding: 65px 0;
    .container {
    }
}
.blog__item-list {
    display: flex;
}
.blog__img-tag {
    position: absolute;
    left: 3%;
    top: 0;
}
.blog__large-bottom {
    width: 100%;
    position: absolute;
    padding-left: 24px;
    padding-top: 76px;
    bottom: 0;
    height: 50%;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    .bottom__large {
        display: flex;
        margin: 8px 0;
        align-items: center;
    }
}
.blog__box {
    display: flex;
    margin-bottom: 50px;
    &-content {
        max-width: 225px;
    }
}
.white {
    color: $white-cl;
}
