@import "../../assets/css/style.scss";
h4 {
  color: $black-cl;
  font-size: 12px;
  font-family: "OpenSansRegular";
  margin: 16px auto;
}
.checkoutWrap {
  display: flex;
  justify-content: space-between;
  // .titleBill {
  //   display: flex;
  //   justify-content: space-between;
  //   width: 100%;
  //   .title {
  //     h2 {
  //       font-size: 22px;
  //       font-family: "PoppinsSemiBold";
  //       margin-bottom: 4px;
  //     }
  //     p {
  //       font-size: 12px;
  //       font-family: "OpenSansRegular";
  //       color: $gray-cl;
  //     }
  //   }
  //   .step {
  //     margin: auto 0;
  //     font-size: 12px;
  //     color: $gray-cl;
  //     font-family: "OpenSansRegular";
  //   }
  // }
  .checkoutLeft {
    // width: 55%;
    width: 100%;
    .fieldDetail {
      margin-top: 32px;
      width: 100%;
      .label {
        font-family: "PoppinsSemiBold";
        font-size: 12px;
        line-height: 1.5;
      }
      input {
        width: 100%;
        border-radius: 12px;
        padding: 12px 16px;
        font-size: 14px;
        font-family: "OpenSansRegular";
        border: 1px solid #d1d1d1;
        background-color: #f9f9f9;
        outline: none;
      }
    }
    .checkbox {
      margin-top: 32px;
      padding: 10px 16px;
      display: block;
      border: 1px solid #d1d1d1;
      background-color: #f9f9f9;
      outline: none;
      border-radius: 12px;
      font-size: 14px;
      font-family: "OpenSansRegular";
      width: max-content;
    }
    .billingInfo {
      .field {
        form {
          display: flex;
          justify-content: space-between;
          @include sm {
            flex-direction: column;
          }
          .formWrap {
            width: 45%;
            @include sm {
              display: flex;
              width: 100%;
              align-items: center;
              flex-direction: column;
            }
          }
        }
      }
    }
    .methodWrap {
      margin: 32px 0 16px 0;
      padding: 12px 16px;
      width: 100%;
      border: 1px solid #d1d1d1;
      background-color: #f9f9f9;
      outline: none;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        label {
          font-size: 12px;
          font-family: "PoppinsSemiBold";
        }
      }
      .des {
        font-size: 12px;
        font-family: "PoppinsSemiBold";
        span:first-child {
          color: $main-cl;
        }
      }
    }
    .billingMethod {
      margin-top: 64px;
    }
    .paymentMethod {
      margin-top: 64px;
      .paymentWrap.open {
        padding: 12px 16px;
        width: 100%;
        border: 1px solid #d1d1d1;
        // background-color: #f9f9f9;
        border-radius: 12px;
        margin-top: 32px;
        .payment__box {
          display: block;
        }
        .methodWrap {
          margin: 0;
          border: none;
          background-color: transparent;
        }
        .cardHolder {
          display: grid;
          grid-template-columns: 2fr 1fr 1fr;
          gap: 20px;
          @include xs {
            display: flex;
            flex-direction: column;
          }
        }
      }
      .paymentWrap.hide {
        padding: 12px 16px;
        width: 100%;
        border: 1px solid #d1d1d1;
        // background-color: #f9f9f9;
        border-radius: 12px;
        margin-top: 32px;
        .payment__box {
          display: none;
        }
        .methodWrap {
          margin: 0;
          border: none;
          background-color: transparent;
        }
        .cardHolder {
          display: grid;
          grid-template-columns: 2fr 1fr 1fr;
          gap: 20px;
        }
      }
    }
    .additional {
      margin-top: 64px;
      .notes {
        input {
          padding: 11px 16px 82px;
        }
      }
    }
    .confirmation {
      margin-top: 64px;
      .conf {
        margin-top: 32px;
        label {
          margin-top: 16px;
          width: 100%;
        }
      }
    }
    .btnCheckout {
      margin: 32px 0;
    }
  }
  .checkoutRight {
    width: 40%;
    display: none;
  }
}
.fieldDetail {
  margin-top: 32px;
  .label {
    font-family: "PoppinsSemiBold";
    font-size: 12px;
    line-height: 1.5;
  }
  input {
    width: 100%;
    border-radius: 12px;
    padding: 12px 16px;
    font-size: 14px;
    font-family: "OpenSansRegular";
    border: 1px solid #d1d1d1;
    background-color: #f9f9f9;
    outline: none;
  }
}
