@import "../../assets/css/style.scss";

// SCSS ITEM-FOOTER
.titleFooter {
  font-family: PoppinsSemiBold;
  font-size: 18px;
  margin-bottom: 16px;
}
.nameItem {
  font-size: 14px;
  font-family: $o;
  color: $clTextGreen;
  margin-bottom: 16px;
  text-decoration: none;
  cursor: pointer;
}
.footerTop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
  @include xs {
    padding: 20px;
  }
  .footer {
    @media (max-width: 760px) {
      width: 50%;
    }
    @include xs {
      // width: 100%;
      // @include mid(true);
      // flex-direction: column;
      // margin: 0 auto;
      & div {
        .nameItem {
          width: 100%;
        }
      }
    }
  }
}
.footerBottom {
  .tagTop {
    display: flex;
    flex-wrap: wrap;
    .tags {
      margin-bottom: 10px;
      a {
        padding: 4px 10px;
        border-radius: 12px;
        font-family: $pb;
        font-size: 12px;
        background: $clBtnFooter;
        // margin-right: 16px;
        transition: $t $cubic;
        &:hover {
          background: $green-cl;
          cursor: pointer;
          color: white;
        }
      }
    }
  }
}
.coppy {
  font-family: $ob;
  font-size: 14px;

  margin-top: 48px;
  margin-bottom: 20px;
  color: $bold-cl;
  @include sm {
    font-size: 13px;
  }
}
