@import "../../assets/css/style.scss";

// SCSS ITEM-FOOTER
.titleFooter {
  font-family: PoppinsSemiBold;
  font-size: 18px;
  margin-bottom: 16px;
}
.nameItem {
  font-size: 14px;
  font-family: OpenSansRegular;
  color: $clTextGreen;
  margin-bottom: 16px;
}
.footerTop {
  display: flex;
  justify-content: space-between;
}
.footerBottom {
  .tagTop {
    display: flex;
    flex-wrap: wrap;
    .tags {
      margin-bottom: 10px;
      a {
        padding: 4px 10px;
        border-radius: 12px;
        font-family: PoppinsSemiBold;
        font-size: 12px;
        background: $clBtnFooter;
        margin-right: 16px;
      }
    }
  }
}
.coppy {
  font-family: OpenSansRegular;
  font-size: 14px;
  margin-top: 48px;
}
