.footer {
  padding: 120px 0;
}
.img-absolute {
  left: 101%;
  top: -10px;
}
.animate-top {
  animation: top 3s ease-in-out infinite;
  transition: all 3s ease;
}
.animate-down {
  animation: downUp 10s infinite;
  transition: all 10s ease;
}
@keyframes top {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes downUp {
  0% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(12px);
  }
}
