@import "../../assets//css/style.scss";
.avatar{
    @include mid(true);
    border-radius: 50%;
    &.size{
        &-small{
--num:32px;
height:var(--num);
width:var(--num);
// margin: 0 auto;
img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

        }
        &-middle{
            --num:48px;
            height:var(--num);
            width:var(--num);
            img{
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
            
        }
        &-large{
            
            img{
                height: 100%;
                width: 100%;
                border-radius: 50%;

            }
            
        }
    }
}