@import "../../../../assets/css/style.scss";
.date {
    display: flex;

    .date__item {
        font-size: 12px;
        line-height: 18px;
        font-family: $o;

        // @include text(12px, $o, 16px, $black-cl, none);
        &.color {
            &-white {
                color: $white-cl;
                margin: 0 8px;
            }
            &-black {
                color: $black-cl;
                margin-right: 16px;
            }
        }
    }
}
