@import '../../assets/css/style.scss';

.nav{
    --nav:16px;
    padding:16px 0;
    .container-fluid{
        .flex{
            display: flex;
        }
    }
}
.nav__item{
    display: flex;
    align-items: center;
    padding-right: 40px;
    cursor: pointer;
    &-content{
        &:hover{
        color: $green-cl;
        }
        font-weight: 500;
        transition: $t $cubic;
@include text(15px,$p,23px,$black-cl,none);
    }
    svg{
        width:8px;
        height: 5px;
        margin-left: 4px;
    }
}